.newReviewHeading {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 40px 20px 10px;
}

.newReviewForm {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 25px;
    padding: 20px;
    margin: 20px;
}

.newReviewFormLabel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    font-size: 0.9rem;
    font-weight: 500;
}

.newReviewId {
    width: 100%;
    height: 2rem;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
}

.selectStyling {
    width: 100%;
    height: 2rem;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
}

.commentInput {
    width: 100%;
    height: 10rem;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
}

.addReviewBtn {
    width: 60%;
    align-self: center;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    border: none;
    background-color: #7b9bd6;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 6px 20px rgba(0, 0, 0, 0.1);
}

.addReviewBtn:hover {
    border: 1px solid #497ad6;
    background-color: white;
    color: #497ad6;
}