.bookingConfirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    text-align: center; 
    height: 70vh;  
    padding: 20px;
    gap: 20px;
    font-size: 1.2rem;
}

.linksContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homeLink {
    color: black;
    font-size: 0.9rem;
    cursor: pointer;
}

.homeLink:hover {
    color: #497ad6;
}
    