.openFiltersModal {
    display: flex; 
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.openFiltersSection {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 15px;
    width: 350px;
    height: auto;
}

.openFiltersModalTop {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(227, 227, 227);
}

.closeFiltersModalIcon {
    font-size: 2rem; 
}
.closeFiltersModalIcon:hover {
    cursor: pointer;
    color:  #497ad6;
}
.closeFiltersModalIcon:active {
    color: red;
}


.openFiltersContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.sortingContainer, .slidersContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%; 
    padding: 30px 0;
    border-bottom: 1px solid rgb(227, 227, 227);
}

.sortContainerHeading, .slidersHeading {
    font-size: 0.9rem;
    padding-bottom: 10px
}

.sortOption {
    display: flex; 
    align-items: center; 
    gap: 0.5rem;   
    cursor: pointer;
}

.inputStyling{
    cursor: pointer;
    height: 1rem;
    width: 1rem;
}

.sortOptionText, .slidersText {
    font-size: 0.8rem;
}

.slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%;
    height: 2px; 
    background-color: black; 
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 12px; 
    height: 12px; 
    background-color: black; 
    border-radius: 50%; 
    cursor: pointer; 
}

.filtersSubmitBtn {
    padding: 15px 0;
    width: 100%;
    margin-top: 40px;
    font-family: "Montserrat", serif;
    font-size: 1rem;
    background-color: white;
    border: 1px solid #497ad6;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 6px 20px rgba(0, 0, 0, 0.1);
}

.filtersSubmitBtn:hover {
    cursor: pointer;
    color: #497ad6;
}

.filtersSubmitBtn:active {
    color: red;
}

@media only screen and (min-width: 481px) {
    .filtersContainer {
        padding: 20px 30px;
    }
    .slider {
        width: 60%;
    }
    .filtersSubmitBtn {
        width: 150px;
    }
}

@media only screen and (min-width: 769px) {
    .filtersContainer {
        padding: 30px 40px;
    }
    .slider {
        width: 50%;
    }
}

@media only screen and (min-width: 1201px) {
    .filtersContainer {
        padding: 30px 80px;
    }
    .slider {
        width: 55%;
    }
    .openFiltersSection {
        width: 600px;
        padding: 60px 40px;
    }
}