.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 30px 20px;
  text-align: center;
  font-size: 0.9rem;
  background-image: linear-gradient(to bottom, #e7dcc4, #af8117);
}

.gitHubIcon {
    cursor: pointer;
    border: none; 
    font-size: 2rem; 
    color: black;
}

.gitHubLink {
  color: #007bff;
  text-decoration: none;
}

.gitHubIcon:hover {
  cursor: pointer;
  color: #497ad6;
}

.gitHubIcon:active {
  color: red;
}

@media only screen and (min-width: 481px) {
  .footer {
    justify-content: center;
    gap: 50px;
    padding: 30px;
  }
}

@media only screen and (min-width: 769px) {
  .footer {
    gap: 70px;
    padding: 30px 40px;
  }
}

@media only screen and (min-width: 1201px) {
  .footer {
    padding: 30px 80px;
  }
}