.footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding: 30px 20px;
  background-color: black;
}

.topFooterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
}

.footerText, .bottomText {
  color: white;
  font-size: 22px;
  text-align: center;
}

.footerLinksContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 60px;
}

.gitHubIcon, .linkedinIcon, .emailIcon {
  cursor: pointer;
  border: none;
  font-size: 2rem;
  color: white;
}

.gitHubIcon:hover {
  cursor: pointer;
}

@media only screen and (min-width: 481px) {
  .footer {
    justify-content: center;
    gap: 50px;
    padding: 30px;
  }
}

@media only screen and (min-width: 769px) {
  .footer {
    gap: 70px;
    padding: 30px 40px;
  }
}

@media only screen and (min-width: 1201px) {
  .footer {
    padding: 80px 100px;
  }
}
