.guestBookings {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.guestBookingsHeading {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 30px 0;
}

.bookingCard {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 8px;
}

.mainInfo {
    font-weight: 500;
}

.datesContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mainInfoCategory {
    font-size: 0.9rem;
}

.itemImg {
    border-radius: 15px;
    width: 200px;
    height: auto;
    object-fit: cover; 
}

.bookingBtnsContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.editBookingBtn, .deleteBookingBtn {
    padding: 0.8rem 1.2rem;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #7b9bd6;
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
    color:  #497ad6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 6px 20px rgba(0, 0, 0, 0.1);
}