header {
    width: 100%;
    overflow: hidden;
    position: relative; 
    z-index: 10; 
    border-bottom: 2px solid rgb(227, 227, 227);
}

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    background-color: white; 
    z-index: 20;
} 

h1 {
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
}

.logo {
    font-family: "Funnel Display", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 40px;
}

.logo:hover {
    color: #3961ac;
    font-weight: 500;
}

.logo:active {
    color: red;
}

.menuIcon {
    cursor: pointer;
    border: none; 
    background-color: white;
    font-size: 1.6rem; 
    color: black;
}

.menuIcon:hover {
    color: #497ad6;
}

.menuIcon:active {
    color: red;
}

.hidden {
    display: none;
}

.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 20px;
    top: 79px;
    left: 0;
    width: 50%;
    height: 30%;
    padding: 30px 10px;
    background-color: white;
    z-index: 30; /* Higher than other content */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 25; /* Between nav and open menu */
}

.navLink {
    font-size: 0.9rem;
    color: black;
    text-decoration: none;
}

.navLink:hover {
    color: #497ad6;
    cursor: pointer;
}

.navLink:active {
    color: red;
}

.modesLinks {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    cursor: pointer;

}

.modesLinks:hover {
    cursor: pointer;
    color: #497ad6;
}

.modesLinks:active {
    color: red;
}

.authBtns {
    background: none;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
}

.authBtns:hover {
    color: #497ad6;
}

.authBtns:active {
    color: red;
}

@media only screen and (min-width: 481px) {
    nav {
        padding: 20px 30px;
    }
    .open {
        padding: 20px 30px;
    }
    .navLink {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 769px) {
    nav {
        padding: 30px 40px;
    }
    .modesLinks {
        font-size: 1rem;
    }
    .open {
        padding: 30px 40px;
    }
    .navLink {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1201px) {
    nav {
        padding: 30px 80px;
    }
    .open {
        padding: 40px 80px;
        gap: 30px;
    }
    .navLink {
        font-size: 1.5rem;
    }
}

