/* .header { */
  /* position: static; normal flow by default */
  /* width: 100%; */
  /* background-color: var(--text-color); */
/* } */

/* ===== Mobile header (visible up to 640px) ===== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 10;
  padding: 10px 20px;
  
}

/* ===== Mobile container ===== */
.mobileContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* Transparent overlay style on homepage */
/* .header.overlay {
  overflow: hidden;
  position: absolute; /* sits on top of Hero only */
  /* left: 50%; center horizontally */
  /* transform: translateX(-50%); */
  /* z-index: 10; ensure it's above hero */
  /* background-color: transparent; */
/* } */ 

/* ===== Mobile overlay ===== */
.mobileOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 20;
}

.closeMobileMenuBtn {
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 25;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mobileDrawer {
  width: 100%;
  height: 100%;
  background: white;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
}

.userInfo {
  padding: 10px 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 18px;
}

.navList:active {
  background-color: #e1e0df;
  border-radius: 20px;
  padding: 12px 20px;
  cursor: pointer;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 20px;
  border: none;
  background: transparent;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

.mobileMenuHamburger {
  border: none;
  background-color: rgba(73, 71, 65, 0.6);
  font-size: 1.5rem;
  padding: 6px 10px;
  border-radius: 50%;
  color: var(--text-color);
  cursor: pointer;
}

.logo {
  font-family: "Funnel Display", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--regular-btn-color);
}

/* ===== Desktop nav ===== */
.desktopNav {
  display: none;
}

.desktopNav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.desktopNav li {
  font-size: 1rem;
  cursor: pointer;
}

.userSection {
  display: flex;
  gap: 10px;
  align-items: center;
}

.authBtn {
  width: 120px;
  border: none;
  border-radius: 20px;
  background: var(--accent-color);
  color: white;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 18px;
}

.authBtn:hover {
  background: var(--accent-color-hover);
}

/* ===== Breakpoints ===== */
@media (min-width: 640px) {
  .mobileContainer {
    display: none;
  }
}

@media only screen and (min-width: 1201px) {
  .desktopNav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 80%;
    gap: 60px;
    padding: 10px 30px;
    background-color: var(--text-color);
    border-radius: 50px;
    box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.1),
      0 6px 10px rgba(0, 0, 0, 0.1);
  }
}
