/* ===== Mobile header (visible up to 640px) ===== */
.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
}

/* ===== Mobile container ===== */
.mobileContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* ===== Mobile overlay ===== */
.mobileOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 20;
}

.closeMobileMenuBtn {
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 25;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mobileDrawer {
  width: 100%;
  height: 100%;
  background: white;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
}

.userInfo {
  padding: 10px 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.currentUser {
  text-decoration: none;
  color: black;
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 18px;
}

.navList:active {
  background-color: #e1e0df;
  border-radius: 20px;
  padding: 12px 20px;
  cursor: pointer;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 20px;
  border: none;
  background: transparent;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

.mobileMenuHamburger {
  border: none;
  background-color: rgba(73, 71, 65, 0.6);
  font-size: 1.5rem;
  padding: 6px 10px;
  border-radius: 50%;
  color: var(--text-color);
  cursor: pointer;
}

.logo {
  font-family: "Funnel Display", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--regular-btn-color);
}

.desktopNav {
  display: none;
}

.userSection {
  display: flex;
  gap: 10px;
  align-items: center;
}

.authBtn {
  width: 120px;
  border: none;
  border-radius: 50px;
  background: var(--accent-color);
  color: white;
  padding: 10px 5px;
  cursor: pointer;
  font-size: 18px;
}

.authBtn:hover {
  background: var(--accent-color-hover);
}

/* ===== Breakpoints ===== */
@media (min-width: 640px) {
  .logoContainer {
    padding: 10px 12px;
    border-radius: 50px;
  }
}

@media (min-width: 1024px) {
  .desktopNav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desktopNav ul {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
  }

  .desktopNav li {
    font-size: 1rem;
    cursor: pointer;
    list-style: none;
  }

  .mobileContainer {
    display: none;
  }

  .userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}
