.dashboard {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.dashboardHeading {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 30px 0;
}

.dashboardSubheading {
    font-size: 1rem;
    font-weight: 500;
}

.ownedPropertiesContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hostBookedPropertiesCard {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 8px;
}

.itemImg {
    border-radius: 15px;
    width: 200px;
    height: 180px;
    object-fit: cover; 
}

@media only screen and (min-width: 481px) {
    .dashboard {
        padding: 20px 30px;
    }
    .ownedPropertiesContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .hostBookedPropertiesCard {
        align-items: center;
    }
}

@media only screen and (min-width: 769px) {
    .dashboard {
        padding: 30px 40px;
        align-items: center;
    }
    .ownedPropertiesContainer {
        justify-items: center;
        width: 720px;
    }
    .hostBookedPropertiesCard {
        width: 350px;
    }
}

@media only screen and (min-width: 1201px) {
    .dashboard {
        padding: 30px 80px;
    }
}