.listContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    list-style-type: none;
    margin: 10px 0;
    padding-top: 20px;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
}

.itemContainer:hover {
    cursor: pointer;
}

.itemImg {
    width: 100%;
    height: 275px;
    border-radius: 8px;
    object-fit: cover; 
}

.propertyName {
    font-size: 1rem;
    font-weight: 500;
}

.propertyLocation {
    font-size: 0.8rem;
}

.propertyPrice {
    font-size: 0.8rem;
    font-weight: 500;
}

.filtersContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 20px;
}

.leftSideFiltersContainer {
    display: flex;
    flex-direction: column;
}

.filtersIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 18px 20px;
    background-color: var(--regular-btn-color);
    color: var(--text-color);
    width: 170px;
    font-size: 0.9rem;
}

.filtersIcon:hover {
    cursor: pointer;
    background-color: black;
}

.bars {
    padding-right: 10px;
    font-size: 1.1rem; 
}

.propertyTypesContainer {
    display: flex;
    gap: 5px;
}

@media only screen and (min-width: 481px) {
    .listContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px 20px; 
        padding: 30px;
    } 
    .itemImg {
        height: 200px;
    }
    .filtersContainer {
        padding: 20px 30px
    }
}

@media only screen and (min-width: 769px) {
    .listContainer {
        grid-template-columns: repeat(3, 1fr);;
        gap: 40px 25px; 
        padding: 30px 40px;
    }
    .itemImg {
        height: 250px;
    }
    .filtersContainer {
        padding: 30px 40px;
        justify-content: space-between; 
    }
}

@media only screen and (min-width: 1201px) {
    .listContainer {
        grid-template-columns: repeat(4, 1fr);
        padding: 30px 80px;
    }
    .filtersContainer {
        padding: 30px 80px;
        justify-content: center; 
    }
}

@media only screen and (min-width: 1640px) {
    .listContainer {
        grid-template-columns: repeat(5, 1fr);
    }
    .filtersContainer {
        gap: 60px;
    }
}