* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", serif;
}

ul {
  list-style: none;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 20px;
  text-align: center;
  font-size: 0.9rem;
  background-image: linear-gradient(to right top, #f8f8f8, #eeeff4, #e3e6f0, #d6ddec, #c8d5e8);
}