:root {
  --accent-color: #ecb920;
}

body {
  background-color: rgb(254, 250, 245);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

main {
  height: 80vh;
  overflow: auto; 
}