:root {
  --accent-color: #ecb920;
  --accent-color-hover: #c99d1a;
  --regular-btn-color: #494741;
  --text-color: #f0efee;
}

body {
  background-color: #f0efee;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}
